$baseFont: "Karla", sans-serif;
$secondaryFont: "Merriweather", serif;

body {
  background: #ebbe9b;
}

.wrapper {
  max-width: 1200px;
  width: 98%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: $baseFont;
  color: #502419;
}

h1 {
  font-size: 4rem;
  margin: 10px 0;
  // font-family: $secondaryFont;
}
