$one: #75f4f4;
$two: #90e0f3;
$three: #b8b3e9;
$four: #d999b9;
$five: #d17b88;

.day {
  width: calc(100% / 8);
  min-width: 135px;
  height: 85vh;
  background-color: #c7cb85;
  border: 2px ridge #7ea172;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

form {
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
}

label {
  font-size: 1.8rem;
}

textarea {
  min-height: 50px;
  resize: none;
  font-size: 1.3rem;
  margin: 5px 0;
  background: rgb(247, 244, 244);
}

select {
  font-size: 1.3rem;
  background: rgb(247, 244, 244);
  border: none;
  padding: 3px 0;
}

.button {
  width: 15%;
  padding: 5px;
  margin: 5px auto;
  background: #e7a977;
  border: 1px solid #7ea172;
}

.button:hover,
.button:focus {
  background: #7ea172;
}
